/*
Custom style
*/
.eventWrap .slider .indicators .indicator-item{ width:12px !important; height:12px !important; Margin:0 7px !important;}
.eventWrap .card-content{position:relative;}
.eventWrap .card-content span i{position:absolute; right:0; top:33px;}