<div class="row">
	<div class="col  l4 m6 s12" ng-repeat="event in events">
		<div class="card eventWrap sticky-action">
			<div class="card-image waves-effect waves-block waves-light">
				<div class="slider" slider>
					<ul class="slides">
						<li ng-repeat="(k,v) in event.gallery">
							<img src="{{v}}">
							<!-- random image -->
							<!-- <div class="caption center-align">
								<h3>{{event.name}}</h3>
								<h5 class="light grey-text text-lighten-3">{{event.location}}</h5>
							</div> -->
						</li>
					</ul>
				</div>
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4 truncate">{{event.name}}<i class="material-icons right">more_vert</i></span>
				<p>
					<i class="material-icons">room</i> {{event.location}}
				</p>
			</div>
			<div class="card-action">
				<div class="center"><a href="#" class="btn light-blue darken-1">Book Now</a></div>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">{{event.name}}<i class="material-icons right">close</i></span>
				<p>{{event.description}}</p>
			</div>
		</div>
	</div>
</div>
